asgiref==3.7.2
boto3==1.28.63
botocore==1.31.63
dj-database-url==2.1.0
Django==4.2.6
django-on-heroku==1.1.2
gunicorn==21.2.0
jmespath==1.0.1
numpy==1.26.1
packaging==23.2
pandas==2.1.1
psycopg2-binary==2.9.9
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3<=1.27
whitenoise==6.6.0
openpyxl==3.1.2
fastavro==1.8.4
fastparquet==2023.8.0
lxml==4.9.3
snowflake-connector-python~=3.3.1