{% extends "base.html" %}

{% block title %}Initialize{% endblock %}

{% block content %}
<div class="container-fluid" style="height: 100vh">
    <div class="row h-100">
        <div class="col-lg-6 bg-dark text-white d-flex align-items-center justify-content-center">
            <h1>Welcome to DataBridge</h1>
        </div>
        <div class="col-lg-6 bg-light d-flex align-items-center justify-content-center">
            <div class="container">
                <h2 class="mb-4">Enter your AWS creds</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="access_key" class="form-label">Access Key:</label>
                        {{form.access_key}}
                    </div>
                    <div class="mb-3">
                        <label for="secret_key" class="form-label">Secret Key:</label>
                        {{form.secret_key}}
                    </div>
                    <button type="submit" class="btn btn-secondary w-25">Start</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}