{% extends 'base.html' %}

{% block title %}
Write to Target
{% endblock %}

{% block content %}
<div class="container-fluid d-flex row bg-dark p-5">
  <div class="col-md-2 w-100">
        <h1 class="text-light">Select Target</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" class="text-info">Start</a></li>
                <li class="breadcrumb-item"><a href="/{{obj.id}}/bucket" class="text-info">Buckets</a></li>
                <li class="breadcrumb-item"><a href="/{{obj.id}}/{{types}}" class="text-info">{% if types == 'files'%}Files{% else %}Folders{% endif %}</a></li>
                <li class="breadcrumb-item"><a href="/{{obj.id}}/{{types}}/target" class="text-info">Targets</a></li>
                <li class="breadcrumb-item active" aria-current="page">Writing...</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-10 bg-light w-100 rounded p-3">
      <h2 class="mb-4">Write on target...</h2>
      <button class="btn btn-primary mb-3" onclick="getSchema()">Start</button>
      <div id="schema-table" style="display: none;">
        <h5 class="mb-2">Schema for table on snowflake</h5>
        <div class="d-flex justify-content-center" id="loader" style="display: none;">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" id="error" style="display: none;"></div>
        <table class="table" id="columns-table" style="display: none;">
          <thead>
            <tr>
              <th scope="col">Column</th>
              <th scope="col">DataType</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script>
  function getSchema() {
    $('#schema-table').show();
    $('#loader').show();
    $.ajax({
      url: '/{{obj.id}}/get-schema/{{types}}/{{target.id}}/',
      success: function(data) {
        $('#loader').hide();
        var tableBody = $('#schema-table tbody');
        if ("{{types}}" == "files") {
          var table = "{{obj.file_name}}"
        } else {
          var table = "{{obj.folder_name}}"
        };

        if (data[table].indexOf("Error:" !== -1)) {
          $('#loader').hide();
          $('#error').show();
          $('#error').append(data[table]);
        } else {
          $('#columns-table').show();
          $.each(data[table], function(index, item) {
            var row = $('<tr>');
            row.append($('<td>').text(item.column));
            row.append($('<td>').text(item.datatype));
            tableBody.append(row);
          });
        }
      }
    });
  }

</script>
{% endblock %}